all:
  children:
    managed_vms:
      hosts:
        edge:
          ansible_host: 10.100.1.1
        ops:
          ansible_connection: local
        gitea:
          ansible_host: 10.100.1.20
        monitoring:
          ansible_host: 10.100.1.30
        k3s:
          ansible_host: 10.100.1.40
        dev:
          ansible_host: 10.100.1.50
        apps:
          ansible_host: 10.200.1.10
        games:
          ansible_host: 10.200.1.20
      vars:
        ansible_user: dtec
