all:
  children:
    managed_vms:
      hosts:
        edge:
          ansible_host: 10.100.1.1
        ops:
          ansible_host: 10.100.1.10
          ansible_connection: local
        gitea:
          ansible_host: 10.100.1.20
        monitoring:
          ansible_host: 10.100.1.30
        k3s:
          ansible_host: 10.100.1.40
        nolife:
          ansible_host: 10.100.1.50
        apps:
          ansible_host: 10.200.1.10
        games:
          ansible_host: 10.200.1.20
      vars:
        ansible_user: dtec
    proxmox_hosts:
      hosts:
        proxmox:
          ansible_host: 192.168.1.100
          ansible_user: root
