all:
  children:
    managed_vms:
      hosts:
        ops:
          ansible_host: 172.16.10.10
          ansible_connection: local
        gitea:
          ansible_host: 172.16.10.30
        monitoring:
          ansible_host: 172.16.10.20
        k3s:
          ansible_host: 172.16.10.40
        nolife:
          ansible_host: 172.16.20.20
        apps:
          ansible_host: 172.16.20.10
        door:
          ansible_host: 172.16.30.10
        games:
          ansible_host: 172.16.30.20
      vars:
        ansible_user: dtec
    proxmox_hosts:
      hosts:
        proxmox:
          ansible_host: 192.168.1.100
          ansible_user: root
