[Unit]
Description=Create a quiesced Minecraft backup
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/homelab-minecraft-backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
