node_name   = "labyrinthian-estate"
vm_username = "replace-me"

ops_vm_id        = 1010
gitea_vm_id      = 1020
monitoring_vm_id = 1030
k3s_vm_id        = 1040
dev_vm_id        = 1050
edge_vm_id       = 1099
apps_vm_id       = 2010
games_vm_id      = 2020

# Defaults match scripts/proxmox/ubuntu-resolute-cloudinit.sh.
template_vm_id = 9001
datastore_id   = "local-lvm"
network_bridge = "vmbr0"

# DHCP is the simplest first test. For a static address, also set apps_ipv4_gateway.
apps_ipv4_address = "dhcp"
# apps_ipv4_address = "192.0.2.100/24"
# apps_ipv4_gateway = "192.0.2.1"

ops_cpu_cores    = 2
ops_memory_mb    = 2048
ops_disk_size_gb = 60

edge_cpu_cores    = 2
edge_memory_mb    = 2048
edge_disk_size_gb = 24

apps_cpu_cores    = 4
apps_memory_mb    = 4096
apps_disk_size_gb = 100

gitea_cpu_cores    = 2
gitea_memory_mb    = 2048
gitea_disk_size_gb = 32

monitoring_cpu_cores    = 2
monitoring_memory_mb    = 2048
monitoring_disk_size_gb = 40

k3s_cpu_cores    = 4
k3s_memory_mb    = 4096
k3s_disk_size_gb = 60

dev_cpu_cores    = 4
dev_memory_mb    = 4096
dev_disk_size_gb = 80

games_cpu_cores    = 6
games_memory_mb    = 10240
games_disk_size_gb = 150
