loki.write "central" {
  endpoint { url = "http://{{ monitoring_address }}:3100/loki/api/v1/push" }
  external_labels = { host = constants.hostname }
}

loki.relabel "journal" {
  forward_to = [loki.write.central.receiver]
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "workload"
  }
  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
}

loki.source.journal "system" {
  max_age    = "24h"
  labels     = { job = "journal", source_type = "system" }
  forward_to = [loki.relabel.journal.receiver]
}

{% if docker_socket.stat.exists %}
discovery.docker "local" { host = "unix:///var/run/docker.sock" }
discovery.relabel "docker" {
  targets = discovery.docker.local.targets
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "workload"
  }
}
loki.source.docker "containers" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.docker.output
  labels     = { job = "docker", source_type = "container" }
  forward_to = [loki.write.central.receiver]
}
{% endif %}

{% if inventory_hostname == 'games' %}
local.file_match "minecraft_server" {
  path_targets = [
    {
      __path__    = "/srv/compose/minecraft/data/logs/latest.log",
      job         = "minecraft",
      service     = "minecraft",
      log_type    = "server",
      workload    = "minecraft",
      source_type = "application",
    },
    {
      __path__    = "/srv/compose/minecraft/data/*/logs/latest.log",
      job         = "minecraft",
      service     = "minecraft",
      log_type    = "server",
      workload    = "minecraft",
      source_type = "application",
    },
  ]
  sync_period = "10s"
}

loki.source.file "minecraft_server" {
  targets    = local.file_match.minecraft_server.targets
  forward_to = [loki.write.central.receiver]
}
{% endif %}
